<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{/index}" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>

<body>
<div data-layout-fragment="content">
    <h1 class="h3 mb-4 text-gray-800">
        <span th:text="#{lang.change.password}"></span>
    </h1>
    <div class="row">
        <div class="col-lg-12">

            <div th:if="${result} == 'error'" class="card mb-4 py-3 border-bottom-danger">
                <div class="card-body">
                    <span th:text="#{lang.operation.unsuccessful}"></span>
                </div>
            </div>
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">
                        <span th:text="#{lang.informations}"></span>
                    </h6>
                </div>
                <div class="card-body">
                    <form th:action="@{/password}" th:object="${changePasswordModel}" method="post">
                        <div class="form-group row">
                            <label for="oldPasswordField" class="col-sm-2 col-form-label">
                                <span th:text="#{lang.old.password}"></span>
                            </label>
                            <div class="col-sm-6">
                                <input type="password" class="form-control" th:field="*{oldPassword}" id="oldPasswordField">
                                <div th:if="${#fields.hasErrors('oldPassword')}" th:errors="*{oldPassword}"></div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="passwordField" class="col-sm-2 col-form-label">
                                <span th:text="#{lang.new.password}"></span>
                            </label>
                            <div class="col-sm-6">
                                <input type="password" class="form-control" th:field="*{password}" id="passwordField">
                                <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="confirmPasswordField" class="col-sm-2 col-form-label">
                                <span th:text="#{lang.confirmation.password}"></span>
                            </label>
                            <div class="col-sm-6">
                                <input type="password" class="form-control" th:field="*{confirmPassword}"
                                       id="confirmPasswordField">
                                <div th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"></div>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary">
                            <span th:text="#{lang.save}"></span>
                        </button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>