<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{/index}" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>

<div data-layout-fragment="content">
    <h1 class="h3 mb-4 text-gray-800">
        <span th:text="#{lang.system.doctor.definitions.find}"></span>
    </h1>
    <div class="row">

        <div class="col-lg-12">
            <div th:if="${result} == 'success'" class="card mb-4 py-3 border-bottom-success">
                <div class="card-body">
                    <span th:text="#{lang.operation.successful}"></span>
                </div>
            </div>

            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">
                        <span th:text="#{lang.informations}"></span>
                    </h6>
                </div>
                <div class="card-body">
                    <form class="form-inline" th:action="@{/doctor/search}">
                        <div class="form-group mb-2">
                            <label class="mb-2 mr-sm-2" for="department">
                                <span th:text="#{lang.doctor.department}"></span>
                            </label>
                            <select id="department" name="department" class="form-control mb-2 mr-sm-2" th:name="department">
                                <option value="d1" th:text="#{lang.department.d1}"></option>
                                <option value="d2" th:text="#{lang.department.d2}"></option>
                                <option value="d3" th:text="#{lang.department.d3}"></option>
                                <option value="d4" th:text="#{lang.department.d4}"></option>
                                <option value="d5" th:text="#{lang.department.d5}"></option>
                                <option value="d6" th:text="#{lang.department.d6}"></option>
                                <option value="d7" th:text="#{lang.department.d7}"></option>
                                <option value="d8" th:text="#{lang.department.d8}"></option>
                                <option value="d9" th:text="#{lang.department.d9}"></option>
                                <option value="d10" th:text="#{lang.department.d10}"></option>
                                <option value="d11" th:text="#{lang.department.d11}"></option>
                                <option value="d12" th:text="#{lang.department.d12}"></option>
                                <option value="d13" th:text="#{lang.department.d13}"></option>
                                <option value="d14" th:text="#{lang.department.d14}"></option>
                                <option value="d15" th:text="#{lang.department.d15}"></option>
                                <option value="d16" th:text="#{lang.department.d16}"></option>
                                <option value="d17" th:text="#{lang.department.d17}"></option>
                                <option value="d18" th:text="#{lang.department.d18}"></option>
                                <option value="d19" th:text="#{lang.department.d19}"></option>
                                <option value="d20" th:text="#{lang.department.d20}"></option>
                                <option value="d21" th:text="#{lang.department.d21}"></option>
                                <option value="d22" th:text="#{lang.department.d22}"></option>
                                <option value="d23" th:text="#{lang.department.d23}"></option>
                                <option value="d24" th:text="#{lang.department.d24}"></option>
                            </select>
                        </div>
                        <div class="form-group mb-2">
                            <label class="mb-2 mr-sm-2" for="textName">
                                <span th:text="#{lang.doctor.name}"></span>
                            </label>
                            <input type="text" th:value="${name}" class="form-control mb-2 mr-sm-2" id="textName" th:name="name">
                        </div>
                        <div class="form-group mb-2">
                            <label class="mb-2 mr-sm-2" for="textSurname">
                                <span th:text="#{lang.doctor.surname}"></span>
                            </label>
                            <input type="text" th:value="${surname}" class="form-control mb-2 mr-sm-2" id="textSurname" th:name="surname">
                        </div>
                        <div class="form-group mb-2">
                            <button type="submit" class="btn btn-primary mb-2">
                                <span th:text="#{lang.search}"></span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>

            <!-- Brand Buttons -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">
                        <span th:text="#{lang.results}"></span>
                    </h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <div id="dataTable_wrapper">
                            <div class="row row-margin">
                                <div class="col-sm-12">

                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                        <tr role="row">

                                            <th tabindex="0" rowspan="1" colspan="1"><span
                                                    th:text="#{lang.identityNumber}"></span></th>
                                            <th tabindex="0" rowspan="1" colspan="1"><span
                                                    th:text="#{lang.name}"></span></th>
                                            <th tabindex="0" rowspan="1" colspan="1"><span
                                                    th:text="#{lang.surname}"></span></th>
                                            <th tabindex="0" rowspan="1" colspan="1"><span
                                                    th:text="#{lang.gender}"></span></th>
                                            <th tabindex="0" rowspan="1" colspan="1"><span
                                                    th:text="#{lang.address}"></span></th>
                                            <th tabindex="0" rowspan="1" colspan="1"><span
                                                    th:text="#{lang.telephone}"></span></th>
                                            <th tabindex="0" rowspan="1" colspan="1"><span
                                                    th:text="#{lang.update}"></span></th>
                                            <th tabindex="0" rowspan="1" colspan="1"><span
                                                    th:text="#{lang.schedule.create}"></span></th>

                                        </tr>
                                        </thead>

                                        <tbody>
                                        <tr role="row" th:each="doctor : ${doctorPage.content}">
                                            <td th:text="${doctor.identityNumber}"/>
                                            <td th:text="${doctor.name}"/>
                                            <td th:text="${doctor.surname}"/>
                                            <td>
                                                <div th:if="${doctor.gender == 'M'}">
                                                    <span th:text="#{lang.gender.male}"></span>
                                                </div>
                                                <div th:unless="${doctor.gender == 'M'}">
                                                    <span th:text="#{lang.gender.female}"></span>
                                                </div>
                                            </td>
                                            <td th:text="${doctor.address}"/>
                                            <td th:text="${doctor.telephone}"/>
                                            <td>
                                                <a th:href='@{/doctor/edit/{doctorId}(doctorId = ${doctor.id})}' class="btn btn-success btn-circle btn-sm">
                                                    <i class="fas fa-check"></i>
                                                </a>
                                            </td>
                                            <td>
                                                <a th:href='@{/doctor/schedule/{doctorId}(doctorId = ${doctor.id})}' class="btn btn-info btn-circle btn-sm">
                                                    <i class="fas fa-info-circle"></i>
                                                </a>
                                            </td>
                                        </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row row-margin">
                                <div class="col-sm-12 col-md-5">
                                </div>
                                <div class="col-sm-12 col-md-7">
                                    <div data-th-replace="fragments/fragment-paginator-nav :: paginator-nav"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>

</div>

</div>
</div>

</body>
</html>
