<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{/index}" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>

<body>
<div data-layout-fragment="content">
    <h1 class="h3 mb-4 text-gray-800">
        <span th:text="#{lang.patient.update}"></span>
    </h1>
    <div class="row">
        <div class="col-lg-12">
            <div th:if="${result} == 'success'" class="card mb-4 py-3 border-bottom-success">
                <div class="card-body">
                    <span th:text="#{lang.operation.successful}"></span>
                </div>
            </div>
            <div th:if="${result} == 'error'" class="card mb-4 py-3 border-bottom-danger">
                <div class="card-body">
                    <span th:text="#{lang.operation.unsuccessful}"></span>
                </div>
            </div>
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">
                        <span th:text="#{lang.informations}"></span>
                    </h6>
                </div>
                <div class="card-body">
                    <form th:object="${editPatientModel}" method="post" >
                        <div class="form-group row">
                            <label for="namefield" class="col-sm-2 col-form-label">
                                <span th:text="#{lang.name}"></span>
                            </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" th:field="*{name}" id="namefield">
                                <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="surnamefield" class="col-sm-2 col-form-label">
                                <span th:text="#{lang.surname}"></span>
                            </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" th:field="*{surname}" id="surnamefield">
                                <div th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"></div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="identityNumberfield" class="col-sm-2 col-form-label">
                                <span th:text="#{lang.identityNumber}"></span>
                            </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" th:field="*{identityNumber}"  id="identityNumberfield">
                                <div th:if="${#fields.hasErrors('identityNumber')}" th:errors="*{identityNumber}"></div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label" for="genderselect">
                                <span th:text="#{lang.gender}"></span>
                            </label>
                            <div class="col-sm-6">
                                <select class="form-control" th:field="*{gender}" id="genderselect">
                                    <option value="M" th:text="#{lang.gender.male}"></option>
                                    <option value="F" th:text="#{lang.gender.female}"></option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="adressfield" class="col-sm-2 col-form-label">
                                <span th:text="#{lang.address}"></span>
                            </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" th:field="*{address}" id="adressfield">
                                <div th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="telephonefield" class="col-sm-2 col-form-label">
                                <span th:text="#{lang.telephone}"></span>
                            </label>
                            <div class="col-sm-6">
                                <input type="tel" class="form-control" th:field="*{telephone}" id="telephonefield">
                                <div th:if="${#fields.hasErrors('telephone')}" th:errors="*{telephone}"></div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">
                            <span th:text="#{lang.save}"></span>
                        </button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>